# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
.eas-build/
web-build/
ios/build/
android/build/
android/app/build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.metro/
metro-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Logs
*.log
*.txt

# Temporary files
tmp/
temp/
.tmp/

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo